:root {
    font-family: "JetBrains Mono", monospace;
    color: white;
    font-weight: 400;
    font-size: 16px;

    background-color: rgb(34, 32, 52);
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 7px 30px;
}

img {
    margin: 5px;
    border-radius: 30px;
}

.title {
    color: black;
    background-color: rgb(219, 66, 212);
    border-radius: 30px;
    padding: 0 20px 0 20px;
    text-align: center;
    font-size: 22px;
    margin: 20px 20px 5px 20px;
}

.subtitle {
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
}

.button {
    width: 25%;
    margin: 15px auto;
}

.button:hover {
    background-color: rgb(219, 35, 209);
}

.image {
    margin: 5px auto;
    display: block;
}

.list {
    padding-left: 0;
    text-align: center;
}

.list > li {
    width: 100px;
    height: 100px;
    display: inline;
    margin: 5px;
}

.list > li > a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.list > li > p {
    color: black;
    text-align: center;
    margin: 0;
    display: inline;
}

.list > li > a:hover {
    text-decoration: underline;
}

